<!DOCTYPE html>
<html>
  <head>
    <title>Blog</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <nav>
      <% if current_user %>
          <%= link_to "Cerrar Session" , destroy_user_session_path , method: :delete %>
          <%= link_to "Editar Perfil" , edit_user_registration_path %>
          <span>Logeado: <%= current_user.email %></span>
      <% else %>
        <%= link_to "Iniciar Session" , new_user_session_path %>
        <%= link_to "Registrate" , new_user_registration_path  %>
      <% end %>
    </nav>
    <%= yield %>
  </body>
</html>
